
/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


#main_menu li{
    list-style-type: none;
    display: inline;
    float: right;
    margin-left: 5px;
    font-size: 15px;
}


